body{
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.cabecalho{
     width: 100%; 
     justify-content: space-between;              
    align-items: center; 
    display: flex;
    border-bottom: solid 4px rgb(92, 92, 233); 
    height: 80px;
    background-color: rgb(22, 20, 20);     
}
.menu ul li{
   display: inline;     
   list-style: none;       
}
.menu{
    padding-top: 12px;  
    flex-grow: 10;     
}
.menu ul li a{
    padding:6px;
    color: white;
    font-size: 25px; 
    text-decoration: none;
}
.menu a:hover,.menu a.selected{
    background-color: #4faddb;
}
.autentificacao a { 
 font-size: 25px; 
 padding: 8px ; 
 color: white; 
 text-decoration: none;
}
.autentificacao{
    padding-top: 12px;      
}
.titulo  h1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px; 
    padding-bottom: 75px;
}

input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }