
#containerDiv{

    
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    padding-top: 15px; 
    padding-left: 50px;   
}

#Nome{
   padding: 15px;
      
}
#Valor{
    padding: 15px;  
     
 }
 #Dia{
    padding: 15px; 
 }
 #Obs{
    padding: 15px;  
}

#location{
  padding: 15px;  
  max-width: 30%;
}

#nome{
    padding-bottom: 7px;
    max-width: 70%;
    border-radius: 5px;     
    border-color: black;
 }
 #valor{
    padding-bottom: 7px;
    border-radius: 5px;  
    border-color: black; 
  }
  #dia{
    padding-bottom: 7px;
   
    border-radius: 5px;  
    border-color: black; 
  }
  #obs{
    padding-bottom: 7px;   
    border-radius: 5px;     
    border-color: black;
   
  }

  #local{
    padding-bottom: 7px;   
    border-radius: 5px;     
    border-color: black;
  }

  #distancia{
    padding-bottom: 7px;   
    border-radius: 5px;     
    border-color: black;
  }

  .geral{
    font-size: large;
    color: black;
    font-weight: 550;
    display: flex;
    flex-direction: column;
}

#valor-dia{
  display: flex;
  flex-direction: row;   
}

#btnSalvar{
    background-color: rgba(0, 128, 0, 0.801);
    padding: 5px 60px; 
    font-size: large;
    border-radius: 4px;
    color: #fff;
    border: none;
    padding-bottom: 7px;
    float: left;
}
#botao{
  padding: 18px;
}



