

.titulo  h1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px; 
    padding-bottom: 75px;
}
.botoes{
    float: right;
    padding: 100px;
    
}

#atualizar{
    background-color: rgba(0, 128, 0, 0.801);
    padding: 5px 60px; 
    font-size: large;
    border-radius: 4px;
    color: #fff;
    border: none;
      
}
#novoCadastro{
    background-color: rgba(5, 5, 231, 0.938);
    padding: 5px 60px;
    font-size: large;  
    border-radius: 4px;
    color: #fff;
    border: none;
}

.containertb{
    padding: 150px;    
}

#tabela{
    width: 90%;
    border-radius: 2px;
    border: solid;
    background: black;    
    border-style:inherit;
    
}

#title{   
    background: #fff; /** Muda para um fundo cinza. **/
    color: black; /** Troca a cor da fonte para branco. **/
    
}
td{
    padding: 15px;
    font-size: 18px;
   
}


#labeluser{
    color:rgb(92, 92, 233); 
    border: 2px solid #fff;
    border-radius: 20px;
}



